.u-hidden { display: none !important; }

@media screen and (min-width: 768px) { /* pc */
  .u-hidden-pc {
    display: none !important;
  }
}

@media screen and (max-width: 767px) { /* sp */
  .u-hidden-sp {
    display: none !important;
  }
}

.u-mb-10 { margin-bottom: 10px !important; }


